                /*==========Обнуление==========*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



                 /*==========Обнуление====font-family: 'Source Sans Pro', sans-serif;======*/


.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.page {
    overflow: hidden;
}
.intro {
    text-align: center;
    background: url(../image/bgIntro.jpg) center /cover no-repeat;
    min-height: 100vh;
    height: auto;
    width: 100%;
}
.intro__name {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.04em;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
    margin-top: 82px;
}
.intro__name p {
    font-size: 32px;
    display: inline-block;
}
.intro__body {
    width: 510px;
    text-align: left;
    margin-top: 295px;
}
.intro__body h1 span {
    font-size: 23px;
    color: #b7b7b7;
}
.intro__body h1 {
    font-size: 63px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 18px;
}
.intro__body p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #fff;
}

.gallery {
    padding-bottom: 72px;
}
.gallery__title {
    font-size: 30px;
    line-height: 57px;
    font-weight: 300;
    letter-spacing: 0.04em;
    color: #000000;
}
.gallery__text {
    display: inline-block;
    width: 600px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.04em;
    color: #000000;
    padding: 0 20px;
    margin-top: 67px;
    margin-bottom: 50px;
}
.gallery__photo {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.gallery__photo-left {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.gallery__photo-right {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
.gallery__photo-right-bottom {
    display: flex;
    flex-direction: column;
}
.gallery .container {position: relative;}
.gallery__photo-vertival {
    position: absolute;
    top: -75px;
    right: 0;
}
.gallery__photo-vertival img {
    height: 100%;
}

.center {
    text-align: center;
    background: url(../image/bg_1.jpg) center / cover no-repeat;
    padding: 98px 0 96px 0;
}
.center__title {
    font-weight: 300;
    font-size: 23px;
    color: #fff;
    letter-spacing: 0.92px;
    margin-bottom: 29px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 16px 6px 16px;
}
.center__text {
    font-size: 13px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 0.92px;
    color: #fff;
    padding: 0 140px;
}

.statistics {
    color: #000;
    font-weight: 300;
    text-align: left;
    padding: 72px 0 127px 0;
}
.statistics__title {
    text-align: center;
    margin-bottom: 75px;
}
.statistics__title,
.statistics__subtitle {
    font-size: 30px;
    line-height: 57px;
    letter-spacing: 1.2px;
}
.statistics__text {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.56px;
    margin-bottom: 27.5px;
}
.statistics__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 0 10px 0;
    background: #f5f5f5;
    border-radius: 3px;
}
.statistics__item {
    text-align: center;
}
.statistics__item-title {
    font-size: 28px;
    line-height: 44px;
    font-weight: 500;
    letter-spacing: 1.12px;
}
.statistics__item-text {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.68px;
}

.bottom {
    text-align: center;
    background: url(../image/bg_2.jpg) center / cover no-repeat;
    padding: 98px 0 96px 0;
}
.bottom__title {
    font-weight: 300;
    font-size: 23px;
    color: #fff;
    letter-spacing: 0.92px;
    margin-bottom: 29px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 16px 6px 16px;
}
.bottom__text {
    font-size: 13px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 0.92px;
    color: #fff;
    padding: 0 140px;
    margin-bottom: 90px;
}
.bottom__name {
    display: inline-block;
    letter-spacing: 0.04em;
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    margin-top: 116px;
}
.bottom__name p {
    font-size: 23px;
    font-weight: 700;
    display: inline-block;
}
#video_holder{
    position: relative;
    width: 780px;
    height: 440px;
    margin: 0 auto;
}
#video_holder video {
    width: 100%;
    height: 100%;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 10;
}
#overlay::after {
    content: "";
    display: inline-block;
    width: 39px;
    height: 45px;
    background: url(../image/play.png) top center no-repeat;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#overlay:hover::after {
    transform: translateY(-50%) scale(1.05);
}
#overlay.o {
    background: none;
}
#overlay.o::after {
    display: none;
}



.slider {
    display: none;
}
.slider__item {}

/*========================================================================================*/


@media (max-width: 768px) {
    .gallery__photo-vertival {display: none;}
    #video_holder {
        width: 100%;
        height: auto;
    }
    .center__text {padding: 0;}
    .bottom__text {padding: 0;}
    .gallery {text-align: center;}
    .gallery__text {margin-top: 20px; width: auto;}
    .gallery__photo {display: none;}
    .statistics__title {margin-bottom: 20px;}
    .statistics__item {
        width: 50%;
        margin-bottom: 20px;
    }
    .statistics__item:nth-child(3), .statistics__item:nth-child(4) {
        margin-bottom: 0;
    }
    .statistics {padding: 40px 0 50px 0;}
    .slider {
        display: block;
        position: relative;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .slick-dots li {
        margin-right: 20px;
    }
    .slick-dots li:last-child {margin-right: 0;}
    .slick-dots li button {
        font-size: 0;
        background: #ccc;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button {
        border: 2px solid #000;
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
    .slider__item {
        position: relative;
        height: 300px;
    }
    .slider__item img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 414px) {
    .intro__body {
        width: auto;
        margin-top: 140px;
    }
    .intro__body h1 {font-size: 50px;}
    .gallery__text {
        width: auto;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    .gallery {padding-bottom: 30px;}
}